.App {
  max-width: 1300px;
  margin: auto;
}

.App h2 {
  margin-top: 3.5rem;
  font-size: 1.75rem;
  font-weight: 500;
}

.cardList {
  display: flex;
  max-width: 1200px;
  margin: auto;
  margin-top: 1rem;
  flex-wrap: wrap;
}
